.lista_Contactos{
    width: 1024px;
    position: relative;
    margin: 0 auto;
    padding: 25px;

}
.lista_Contactos li{
    display: inline-block;
    text-align: left;
}
.lista_Contactos .contact{
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}
.lista_Contactos .contact:hover{
    border-color:#c78c19;
}
.lista_Contactos .contact:active{
    border-color: #088c19;
}
.lista_Contactos .nomb{
    text-align: center;
}
.lista_Contactos .telefono{
    font-weight: bold;
}

.list-points li:before {
    content: "\2022";
    margin-right: 8px;
}
table {
    border: 1px solid #ddd !important;
    border-collapse: collapse !important;
    width: 100% !important;
    margin-bottom: 20px !important; 
}
  
  /* Agrega un borde a las celdas de la tabla */
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
  /* Agrega un color de fondo gris claro a las filas alternas de la tabla */
tr:nth-child(even) {
    background-color: #f2f2f2;
}
button {
    background-color: #007bff; /* Establece el color de fondo del botón en azul */
    border: 2px solid #007bff !important; /* Establece el borde del botón en azul */
    color: #fff; /* Establece el color del texto en blanco */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se coloca sobre el botón */
    font-size: 16px; /* Establece el tamaño de fuente en 16 píxeles */
    padding: 5px 10px; /* Agrega un relleno de 10 píxeles arriba y abajo, y 20 píxeles a los lados */
    border-radius: 5px !important;
}
button:hover {
    background-color: #fff; /* Cambia el color de fondo del botón a blanco */
    color: #007bff; /* Cambia el color del texto a azul */
}
td button {
    display: inline-block;
    margin-right: 5px;
}